.container {
    min-height: 100vh;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 300px;
    scroll-snap-align: start;
}

.container div:first-child {
    margin-right: 20px;
}


@media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        padding: 0 5%;
        justify-content: center;
    }

    .container div {
        margin-right: 0;
    }
}