.container {
    min-height: 100vh;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 300px;
    scroll-snap-align: start;
}


@media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        padding: 0 5%;
    }
}